html, body{
  height: auto;
  min-height: 100%;
}

body{
  overflow-x: hidden;
  background-color: $BaseBackgroundColor;
}

* {
  color: #5a5a5a !important;
  cursor: default;
  font-family: $Fonts !important;
  line-height: 1.5em; }

p{
  //width: 85%;
  //padding-left: 1em;
  box-sizing: border-box;
}

h1 {
  @include font-color-invert();
  padding: 14px 0px 10px 12px ;
}

h2 {
  border-bottom: none ;
  @include font-color-invert();
  font-size: 24px ;
  margin-top: 5px ;
}

h3 {
  img {
    &[alt="Zoom_in"] {
      vertical-align: middle;
    }
  }
}

hr{
  background: transparent;
  height: 0;
  display: block;
  border-bottom: 1px dashed #ccc;
  margin: 24px 0 12px;
}

input{
  &[type=text],
  &[type=password],
  &[type=number],
  &[type=search],
  &[type=email]
  {
    border: 1px solid $box_border_color;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset;
    outline: none;
    padding: 4px 6px;
    height: auto;

    &:focus {
      border: 1px solid #adf;
    }
  }

  &[type=submit] {
    background: #fff;
    border: 1px solid $input_border_color;
    border-radius: .4em;
    cursor: pointer;
    padding: 6px 12px;
    &:active{
      box-shadow: 1px 1px 3px rgba(0,0,0,0.3) inset;
    }
    &:hover{
      box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    }
  }
}

select {
  outline: none;
  -webkit-appearance: none ;
  -moz-appearance: none;
  background-color: white ;
  border: 2px solid #ea8d42 ;
  border-radius: 4px;
  color: #555 ;
  cursor: pointer ;
  padding: 4px 10px ;
  text-indent: 0.01px;
  text-overflow: '';
  &:active {
    box-shadow: 1px 1px 6px;
    outline: none;
  }
  &[disabled]{
    opacity: .5;
  }
}



textarea {
  border: 1px solid $box_border_color;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset;
  outline: none;
  padding: 4px 6px;

  &:focus {
    border: 1px solid #adf;
  }
}


pre br{
  display:none !important;
}

#wrapper{
}

#wrapper, #wrapper2, #wrapper3 {
  position: relative;
  background-color: $BaseBackgroundColor;
}

#wrapper3 {
  margin: 0;
}

a {

  &, a:link {
    display: inline-block;
    vertical-align: middle;
  }

  &>* {
    cursor: pointer;
  }

  color: #4a9fd4;
  cursor: pointer;
  border-radius: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  line-height: 1.2em;
  overflow:hidden;
  border-bottom: 1px dashed #afafaf;
  &:hover {
    background-color: #afd2fe;
    color: #2a7fc4;
    text-decoration: none;
  }
  &:active{
    text-shadow: 0 0 3px rgba(165,185,225,0.5);
  }
  &.wiki-anchor{
    display: inline;
    line-height: 1em;
    padding: 0;
    opacity: 0;
    &:hover{
      opacity: 1;
    }
  }
}

fieldset {
  &>legend {
    border: 1px solid #ccc;
    background: #fafafa;
    padding-top: .4em;
    padding-right: .6em;
    padding-bottom: .4em;
    padding-left: .6em;
    border-radius: .3em;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
  }
}


#content {
  background-color: $BaseBackgroundColor ;
  border: 0;
  min-height: 0 !important;
  padding-left: 1.2%;
  padding-right: 1.2%;
  padding-bottom: 80px;
  padding-top: 12px ;
  width: 79.2% ;

  h2 {
    color: #777 ;
    line-height: 30px;
    margin-top: 0;
    padding: 2px 12px 2px 0;
  }
}




