//
//  Alternative style for Redmine Tracker.
//
//  Please use Compass to compile.
//


@import "compass/css3/";
@import "compass/utilities";

// ------------------------------------------------ Vars
// Colors
$green: #4acd52;
$light_gray: #777;
$dark_gray: #3a3a3a;
$almost_white: #fafafa;
$box_border_color: #ccc;
$input_border_color: #ccc;
$content_border_color: #aaa;

// Merged Colors;
$BaseBackgroundColor: $almost_white;
$font_color_invert : white;
$Fonts: Consolas, Inconsolata, Andale Mono, Helvetica, Hiragino Gothic Pro;

// ------------------------------------------------ Mixins

@mixin bg-waiting-focus($normal, $focus: $normal ){
  background-color: $normal;
}



@mixin font-color-invert(){
  color: $font_color_invert;
}



//
//   ______   ______   .___  ___. .___  ___.   ______   .__   __.
//  /      | /  __  \  |   \/   | |   \/   |  /  __  \  |  \ |  |
// |  ,----'|  |  |  | |  \  /  | |  \  /  | |  |  |  | |   \|  |
// |  |     |  |  |  | |  |\/|  | |  |\/|  | |  |  |  | |  . `  |
// |  `----.|  `--'  | |  |  |  | |  |  |  | |  `--'  | |  |\   |
//  \______| \______/  |__|  |__| |__|  |__|  \______/  |__| \__|
//
// Commons styles like as a, input, textarea, pre....etc
//
//
@import 'common';

@import 'component/activity';
@import 'component/calender';
@import 'component/footer';
@import 'component/header';
@import 'component/issues';
@import 'component/login';
@import 'component/query_form';
@import 'component/top-menu';
@import 'component/wiki';
@import 'component/gantt';
@import 'component/icon';
@import 'component/journal';



td.progress {

  table.progress {
    border-radius: .3em;
    overflow: hidden;

    .closed{
      background: #63acfd !important;

      &[style*="width: 100%"]{
        background: #4acf44 !important;
      }
    }

  }

  .percent {
    display: inline-block;
  }

}




$border_radius: 6px;
#roadmap {
  .version{
    margin-top: 48px;
  }
  .progress {
    td{
      padding: 0;
      margin: 0;
    }

    .closed{

      border-top-left-radius: $border_radius;
      border-bottom-left-radius: $border_radius;

      &[style*="width: 100%"]{

        border-top-right-radius: $border_radius;
        border-bottom-right-radius: $border_radius;

        &:after{
          content: "Finished";
          color: #fff;
          margin-top: 2px;
          display: inline-block;
          vertical-align: middle;
          font-weight: bolder;
        }
      }
    }

    .todo{
      border-top-right-radius: $border_radius;
      border-bottom-right-radius: $border_radius;
    }

    margin: 20px auto;
    height: 24px;
    border-radius: 6px;
    width: 90% !important;
  }
}

#principal_search{
  padding: 6px 0 4px 24px !important;
  height: auto !important;
  background-repeat: no-repeat;
  background-position-y: 75% !important;
  background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace"><g><path d="M315,4c-86,0-156,70-156,156c0,36,11,69,31,95L45,400c-10,10-10,25,0,35c5,5,11,7,17,7s13-2,18-7l146-146   c25,18,56,28,89,28c86,0,157-71,157-157S401,4,315,4z M315,273c-62,0-113-51-113-113S253,47,315,47s113,51,113,113S377,273,315,273   z"/><path d="M347,82c-11-5-23,0-28,11s0,24,11,29c1,1,27,13,24,35c-2,13,8,25,22,25c11,0,20-8,21-19C403,119,368,91,347,82z"/><path d="M342,192c-12,0-22,10-22,22s10,21,22,21s22-9,22-21S354,192,342,192z"/></g></svg>') !important;
}

#history h3 {
  border: none ;
  font-size: 24px ;
  font-weight: bolder ;
  margin-top: 36px ;
  margin-bottom: 24px;
  padding: 8px 8px 12px ;
}

.tabs{
  ul {

    li{

      a{
        padding-top: 6px !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}




/*
 __    __   _______     ___       _______   _______ .______      
|  |  |  | |   ____|   /   \     |       \ |   ____||   _  \     
|  |__|  | |  |__     /  ^  \    |  .--.  ||  |__   |  |_)  |    
|   __   | |   __|   /  /_\  \   |  |  |  ||   __|  |      /     
|  |  |  | |  |____ /  _____  \  |  '--'  ||  |____ |  |\  \----.
|__|  |__| |_______/__/     \__\ |_______/ |_______|| _| `._____|

*/


/*
 __        ______     _______  __  .__   __.
|  |      /  __  \   /  _____||  | |  \ |  |
|  |     |  |  |  | |  |  __  |  | |   \|  |
|  |     |  |  |  | |  | |_ | |  | |  . `  |
|  `----.|  `--'  | |  |__| | |  | |  |\   |
|_______| \______/   \______| |__| |__| \__|

*/
/**
.___  ___.      ___       __  .__   __.    .___  ___.  _______ .__   __.  __    __
|   \/   |     /   \     |  | |  \ |  |    |   \/   | |   ____||  \ |  | |  |  |  |
|  \  /  |    /  ^  \    |  | |   \|  |    |  \  /  | |  |__   |   \|  | |  |  |  |
|  |\/|  |   /  /_\  \   |  | |  . `  |    |  |\/|  | |   __|  |  . `  | |  |  |  |
|  |  |  |  /  _____  \  |  | |  |\   |    |  |  |  | |  |____ |  |\   | |  `--'  |
|__|  |__| /__/     \__\ |__| |__| \__|    |__|  |__| |_______||__| \__|  \______/

Main menu styles. (Overview, Activity, Issues etc..)

 */
#main-menu {
  background-color: #eaeaea ;
  box-shadow: 0 0 2px rgba(0,0,0,0.2) inset;
  left: 0 ;
  padding-top: 12px;
  padding-left : 6px;
  position: relative ;
  width: 100% ;
  overflow:hidden;

  li{
    margin-right: 4px;

    a{
      color: #777 !important;
      background: #fafafa;
      opacity: .5;
      padding: 6px 6px 4px 8px;
      border: none;
      border:{
        radius: 0;
        top-left-radius: 6px;
        right:8px solid #cacaca;
        top:1px solid $box_border_color;
        left: 1px solid $box_border_color;
      }

      &.selected{
        background: #fafafa !important;
        border-right-color: #4e8;
        font-weight: bold ;
        opacity: 1;
      }

      &:hover{
        border-right-color: #4e8;
        background-color: #fafafa !important;
        opacity: 1;
      }
    }
  }

}

#main{

  background-color: $BaseBackgroundColor;

  &:not(.nosidebar){
    position: relative;
  }

  &.nosidebar #content {
    width: auto;
  }

  /*
   * Project overview page
   * Sub-projects list.
   */
  .splitcontentleft > .wiki + ul > li{

    &>a{
      display: inline-block;
      padding: 2px 8px 0;
      border: 1px solid #CCC;
      padding: 2px 8px 0px;
    }

  }
}


#preview {
  top: 0;
}

/*
     _______. __   _______   _______    .______        ___      .______      
    /       ||  | |       \ |   ____|   |   _  \      /   \     |   _  \     
   |   (----`|  | |  .--.  ||  |__      |  |_)  |    /  ^  \    |  |_)  |    
    \   \    |  | |  |  |  ||   __|     |   _  <    /  /_\  \   |      /     
.----)   |   |  | |  '--'  ||  |____    |  |_)  |  /  _____  \  |  |\  \----.
|_______/    |__| |_______/ |_______|   |______/  /__/     \__\ | _| `._____|

*/

#sidebar {
  width: 16% ;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 158px;
  overflow-y: scroll;
  padding: 1.2%;
  background: $BaseBackgroundColor;

  h3 {
    font-size: 18px;
  }

  a {
    padding: 0px 2px;
    margin: 2px 0 2px 0;
    display:inline-block;
    vertical-align: middle;

    &.selected{
      border: 0;
      line-height: 1em;
      margin-left: 0 !important;
      background-color: skyblue;
      color: #fff !important;
      border-radius: 4px;
      -moz-border-radius: 4px;
    }
  }

  label{
    display: inline-block;
    vertical-align: middle;
  }
}

/*
.___________.  ______   .______      .___  ___.  _______ .__   __.  __    __ 
|           | /  __  \  |   _  \     |   \/   | |   ____||  \ |  | |  |  |  |
`---|  |----`|  |  |  | |  |_)  |    |  \  /  | |  |__   |   \|  | |  |  |  |
    |  |     |  |  |  | |   ___/     |  |\/|  | |   __|  |  . `  | |  |  |  |
    |  |     |  `--'  | |  |         |  |  |  | |  |____ |  |\   | |  `--'  |
    |__|      \______/  | _|         |__|  |__| |_______||__| \__|  \______/

*/


.add-filter {
  vertical-align: middle;
  label {
    margin-right: 6px;
  }
}

.cal{
  a.issue {
    display: block;
    font-size: 10px;
    padding: 1px 4px 2px 16px;
  }
  div.issue {
    font-size: 10px;
    padding: 2px 4px;
  }
}

.context-menu-selection {
  background: #A0C4FA;
  &:hover{
    background: #B3D6FD;
  }
  a{
    color: #5a5a5a;
  }
}

#context-menu a {
  padding-left: 26px;
}

#context-menu, #context-menu *{
  border:none;
}
#context-menu{
  ul{
    padding: 5px 6px;
    border-radius: 4px;
    box-shadow: 0 0 24px rgba(0,0,0, .25);

    li {
      &:hover {
        border: 1px solid #ccc;
      }
    }
  }
}

.contextual {
  @include font-color-invert();
  margin-top: 0 ;
  padding: 0 10px;
}

.description:before {
  content: "Messages";
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0 4px;
}



.members a {
  background: #fafafa;
  border: 1px solid $box_border_color;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin: 2px 2px;
  padding: 3px 10px 1px;

  &:hover{
    background: #eeeeff;
  }
}

.nodata, .warning {
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
}

.my-project{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace"> <g> <path d="M32.43,23.991c-6.423,0-11.648,5.226-11.648,11.649c0,6.422,5.225,11.648,11.648,11.648   c6.423,0,11.649-5.226,11.649-11.648C44.079,29.217,38.853,23.991,32.43,23.991z"/> <path d="M50.476,21.042c1.318-1.317,1.318-3.453,0.001-4.771c-1.318-1.317-3.453-1.318-4.771,0l-3.541,3.54   c-0.031,0.031-0.052,0.068-0.081,0.099c-2.15-1.351-4.595-2.272-7.216-2.642v-4.84c0-1.863-1.51-3.373-3.373-3.373   c-1.863,0-3.373,1.51-3.373,3.373v5.006c0,0.042,0.011,0.08,0.012,0.122c-2.565,0.589-4.929,1.709-6.966,3.245l-3.427-3.427   c-1.318-1.317-3.453-1.317-4.771,0c-1.317,1.318-1.317,3.453,0,4.771l3.541,3.541c0.031,0.031,0.067,0.051,0.099,0.081   c-1.788,2.846-2.827,6.208-2.827,9.81c0,10.197,8.296,18.493,18.493,18.493s18.493-8.296,18.493-18.493   c0-4.166-1.386-8.013-3.718-11.108L50.476,21.042z M32.275,49.853c-7.872,0-14.276-6.404-14.276-14.276   c0-7.872,6.404-14.277,14.276-14.277s14.276,6.404,14.276,14.277C46.551,43.449,40.146,49.853,32.275,49.853z"/></g></svg>');
  padding-left: 32px !important;
}

$root_height: 220px;
$root_border_width: 1px;
$root_border: $root_border_width solid $box_border_color;
.projects{
  &.root{
    position: relative;
    overflow: hidden;

    &:after{
      content: "";
      border-top: $root_border;
      position: absolute;
      bottom: $root_height - $root_border_width;
      left: -3px;
      float: left;
      width: 100%;
    }
  }
  .project{
    font-size: 12px !important;
  }

  li{

    &.root{

      &:nth-child(4n){
        border-right: $root_border;
      }

      &:last-child{
        border-right: $root_border;
        border-bottom: $root_border;
      }

      border: $root_border;
      border-bottom: 0;
      border-right:0;
      box-sizing: border-box;
      display:inline-block;
      float:left;
      height: $root_height;
      width: 25%;
      margin-bottom: 0px !important;
      margin-right: 0;
      overflow-y: scroll;
      /*padding: 10px 12px ;*/
      position: relative;

      .description{
        padding: 0px 8px 24px;
        height: $root_height - 32;
        position: relative;
        top: 18px;
        overflow-y: scroll;
        z-index: 2;
      }
    }
    div.root{
      margin-top: 32px;

      >a{
        background-color: lighten($dark_gray, 10%);
        color: $almost_white !important;
        font-weight: normal !important;
        box-shadow: 0 0 6px rgba(0,0,0,.3);
        background-position-x: 9px;
        border-radius: 0 !important;
        border: none;
        display: block;
        padding: 6px 8px 4px;
        width: 100%;
        position: absolute;
        top: 0;
        background-position-y: 50%;

        &:hover{
          background-color: lighten(lighten($dark_gray, 10%), 10%);
        }

        &.my-project{
          background-color: #22aa22 !important;
        }
      }
    }
  }
}

.splitcontentleft ul {
  list-style: none;
  padding: 0 20px;
}

.tabular label.floating {
  border: 1px solid $box_border_color;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5%;
  padding: 0.2%;
  width: 31.5%;
}

.tabular p {
  padding-left: 120px;
}


div.attachments p {
  margin: auto ;
}

div.box {
  border-radius: 8px;
  border: 1px solid $box_border_color;
}


/*
  ______     ___       __       _______ .__   __.  _______   _______ .______      
 /      |   /   \     |  |     |   ____||  \ |  | |       \ |   ____||   _  \     
|  ,----'  /  ^  \    |  |     |  |__   |   \|  | |  .--.  ||  |__   |  |_)  |    
|  |      /  /_\  \   |  |     |   __|  |  . `  | |  |  |  ||   __|  |      /     
|  `----./  _____  \  |  `----.|  |____ |  |\   | |  '--'  ||  |____ |  |\  \----.
 \______/__/     \__\ |_______||_______||__| \__| |_______/ |_______|| _| `._____|

*/


div.flash {
  border-radius: 6px;
  color: #5a5a5a;
  font-size: 16px;
  margin-bottom: 22px;
  padding-bottom: 2px;
  padding-left: 32px;
  padding-top: 6px;
  background-position-y: 50% !important;

}

span.tip {
  position: fixed;
  right: -200%;
}



textarea.wiki-edit {
  width: 98%;
}

ul.projects{
  .root{
    overflow: hidden; 
  }
  ul.projects {
    border-left: 10px solid $box_border_color;
    border-radius: 12px;
    margin-left: 8px;
    padding-top: 1px;

    li.child {
      margin-top: 0;
    }
  }
}

.pagination{
  font-size: 16px;
  a{
    font-size: 12px !important;
  }
}

.list.files {
  width: auto;
}

table.list{
  font-size: 11px ;
  border: 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  &.members {
    td {
      vertical-align: middle;

      &.buttons {
        a {
          padding: 4px 8px 0 !important;
        }
      }
    }
  }

  &.issues{
    td {
      vertical-align: middle;
    }
  }

  tr {
    border-bottom: 1px solid #ccc ;
    &:hover{
      background-color: inherit !important;
    }

  }
  th {
    text-align: left ;
  }
  td{
    padding: 6px 4px ;
    text-align: left ;
    vertical-align: bottom;
    background-color: transparent !important;
    font-size: .9em;

    &.created_on, &.updated_on, &.due_date{
      text-align: center;
    }
  }

  &.files { width: 100%; }
}



#issue_tree{
  tr.issue{
    td.subject{
      a{
        vertical-align: bottom;
        padding-left: 6px;
        padding-right: 6px;
        margin-right: 8px;
      }
    }
  }
}




// Download data as....
.other-formats{

  a {
    padding: 4px 4px 4px 22px !important;
    background-position-x: 4px;
    min-width: 32px;
    text-align: center;
    border: 1px solid #ccc;

    &.atom{
    }

    // CSV button
    &.csv{
      padding-left: 18px !important;
      background-position-y: 40%;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 126 126" enable-background="new 0 0 126 126" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace"><path d="M103.457,49.041h-2.449V37.222c0-0.074-0.012-0.148-0.021-0.223c-0.004-0.469-0.154-0.93-0.475-1.295L80.846,13.24  c-0.006-0.006-0.012-0.008-0.016-0.014c-0.117-0.131-0.254-0.24-0.398-0.334c-0.043-0.029-0.086-0.053-0.131-0.078  c-0.125-0.068-0.258-0.125-0.395-0.166c-0.037-0.01-0.07-0.025-0.107-0.035c-0.148-0.035-0.303-0.057-0.459-0.057H31.008  c-2.207,0-4,1.795-4,4v32.484h-2.449c-3.157,0-5.717,2.559-5.717,5.717v29.73c0,3.156,2.56,5.717,5.717,5.717h2.449v20.352  c0,2.205,1.793,4,4,4h66c2.205,0,4-1.795,4-4V90.205h2.449c3.157,0,5.717-2.561,5.717-5.717v-29.73  C109.174,51.599,106.614,49.041,103.457,49.041z M31.008,16.556H77.34v20.465c0,1.105,0.896,2,2,2h17.668v10.02h-66V16.556z   M61.119,70.818c-4.963-1.729-8.197-4.475-8.197-8.816c0-5.098,4.253-8.998,11.298-8.998c3.369,0,5.85,0.709,7.622,1.508  l-1.505,5.451c-1.197-0.578-3.323-1.42-6.249-1.42c-2.924,0-4.342,1.33-4.342,2.881c0,1.906,1.683,2.748,5.54,4.211  c5.273,1.949,7.754,4.695,7.754,8.906c0,5.006-3.854,9.262-12.053,9.262c-3.412,0-6.781-0.889-8.464-1.818l1.373-5.584  c1.818,0.932,4.609,1.861,7.49,1.861c3.102,0,4.742-1.285,4.742-3.236C66.127,73.164,64.708,72.101,61.119,70.818z M25.932,68.867  c0-10.191,7.269-15.863,16.307-15.863c3.501,0,6.16,0.709,7.357,1.33l-1.375,5.361c-1.373-0.574-3.28-1.105-5.672-1.105  c-5.362,0-9.526,3.232-9.526,9.879c0,5.982,3.544,9.748,9.572,9.748c2.037,0,4.297-0.443,5.626-0.975l1.02,5.273  c-1.241,0.621-4.032,1.287-7.666,1.287C31.25,83.802,25.932,77.375,25.932,68.867z M97.008,109.472h-66V90.205h66V109.472z   M92.54,83.357h-7.887l-9.572-29.865h7.401l3.633,12.631c1.02,3.543,1.95,6.955,2.66,10.678h0.132  c0.753-3.59,1.683-7.135,2.703-10.547l3.811-12.762h7.18L92.54,83.357z"/>
</svg>');

    }

    &.pdf{
      padding-left: 18px !important;
      background-position-y: 40%;
      background-repeat: no-repeat;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 126 126" enable-background="new 0 0 126 126" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace"> <g> <path d="M61.508,88.796c-1.225,0-2.016,0.108-2.484,0.216v15.874c0.469,0.108,1.225,0.108,1.908,0.108   c4.967,0.035,8.207-2.699,8.207-8.495C69.174,91.459,66.223,88.796,61.508,88.796z"/> <path d="M40.303,88.725c-1.115,0-1.871,0.107-2.268,0.215v7.164c0.469,0.107,1.045,0.144,1.834,0.144   c2.918,0,4.717-1.476,4.717-3.96C44.586,90.056,43.037,88.725,40.303,88.725z"/> <path d="M99.98,36.443c-0.006-0.468-0.154-0.93-0.475-1.295L79.838,12.684c-0.004-0.006-0.012-0.008-0.016-0.014   c-0.117-0.131-0.252-0.239-0.396-0.334c-0.043-0.028-0.088-0.053-0.133-0.078c-0.125-0.068-0.256-0.124-0.395-0.165   c-0.035-0.011-0.07-0.026-0.107-0.036C78.643,12.021,78.488,12,78.334,12H30c-2.205,0-4,1.795-4,4v94c0,2.206,1.795,4,4,4h66   c2.205,0,4-1.794,4-4V36.667C100,36.592,99.988,36.518,99.98,36.443z M47.789,97.902c-1.871,1.764-4.643,2.557-7.883,2.557   c-0.719,0-1.369-0.037-1.871-0.108v8.675H32.6V85.088c1.691-0.287,4.068-0.504,7.416-0.504c3.383,0,5.795,0.648,7.414,1.944   c1.549,1.224,2.59,3.239,2.59,5.615S49.23,96.535,47.789,97.902z M70.936,106.146c-2.553,2.123-6.441,3.131-11.191,3.131   c-2.844,0-4.859-0.18-6.229-0.359v-23.83c2.016-0.323,4.645-0.504,7.416-0.504c4.605,0,7.594,0.828,9.934,2.592   c2.52,1.872,4.104,4.859,4.104,9.143C74.969,100.963,73.277,104.166,70.936,106.146z M93.402,89.264h-9.324v5.543h8.711v4.464   h-8.711v9.755h-5.506V84.765h14.83V89.264z M30,79.917V16h46.334v20.466c0,1.104,0.895,2,2,2H96l0.002,41.451H30z"/> <path d="M83.52,54.988c-0.117-0.011-2.936-0.268-7.262-0.268c-1.355,0-2.721,0.026-4.068,0.077   c-8.543-6.411-15.541-12.827-19.287-16.423c0.068-0.396,0.115-0.709,0.137-0.949c0.494-5.216-0.055-8.737-1.627-10.466   c-1.029-1.13-2.541-1.506-4.117-1.075c-0.979,0.256-2.791,1.206-3.371,3.139c-0.641,2.136,0.389,4.729,3.094,7.736   c0.043,0.045,0.961,1.007,2.629,2.637c-1.084,5.169-3.922,16.324-5.299,21.68c-3.234,1.728-5.928,3.81-8.014,6.197l-0.137,0.156   l-0.088,0.188c-0.215,0.451-1.242,2.794-0.471,4.676c0.352,0.855,1.012,1.48,1.908,1.808l0.24,0.065c0,0,0.217,0.047,0.598,0.047   c1.668,0,5.787-0.877,7.996-9.017l0.535-2.063c7.711-3.748,17.35-4.957,24.336-5.294c3.594,2.665,7.17,5.113,10.635,7.281   L82,65.186c0.168,0.085,1.688,0.836,3.467,0.837l0,0c2.543,0,4.4-1.56,5.092-4.28l0.035-0.186c0.193-1.554-0.197-2.955-1.129-4.05   C87.502,55.2,83.848,54.999,83.52,54.988z M38.447,71.212c-0.016-0.018-0.023-0.036-0.031-0.056   c-0.166-0.399,0.033-1.368,0.326-2.078c1.258-1.406,2.768-2.697,4.51-3.859C41.555,70.711,39.088,71.185,38.447,71.212z    M49.219,34.721L49.219,34.721c-2.605-2.9-2.566-4.338-2.426-4.822c0.23-0.809,1.268-1.115,1.277-1.118   c0.523-0.142,0.84-0.114,1.123,0.196c0.639,0.702,1.188,2.821,0.971,6.707C49.549,35.066,49.219,34.721,49.219,34.721z    M47.873,59.42l0.045-0.172l-0.006,0.002c1.305-5.11,3.186-12.592,4.268-17.398l0.039,0.037l0.004-0.023   c3.5,3.296,8.867,8.117,15.293,13.131L67.443,55l0.107,0.08C61.496,55.592,54.266,56.785,47.873,59.42z M87.627,61.096   c-0.461,1.694-1.348,1.926-2.16,1.926l0,0c-0.943,0-1.852-0.393-2.059-0.488c-2.359-1.479-4.773-3.09-7.209-4.814   c0.02,0,0.037,0,0.059,0c4.176,0,6.957,0.253,7.066,0.261c0.697,0.026,2.904,0.352,3.855,1.47   C87.553,59.889,87.695,60.413,87.627,61.096z"/></g></svg>');
    }

    &.xls{
      padding-left: 20px !important;
    }

    &.xlse{
      padding-left: 20px !important;
    }
  }

}


#admin-menu{
  a{
    padding-left: 22px !important;
  }
}

.issue{
  &.details{
    background-color: #ffffee;
    padding: 12px;
  }
}
